body, html {
    height: 0;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    color: #107373;
        
}


p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

img {
    max-width: 100%;
}

.container {
    height: 0;
}

.welcome {
    position: relative;
    height: 200%
}

.logo-wrapper {
    background: url(../img/main-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.presentation {
    position: relative;
    width: 100%;
    height: 50%;
}

.presentation p {
    padding: 10% 7.165109% 0 7.165109%;
}

.svg-logo {
    width: 58.4375%;
    height: auto;
    max-height: 63.908451%;
    padding-top: 20.9375%;
    padding-left: 20.3125%;
}

.svg-logo-landscape {
    display: none;
}

.bold {
    font-weight: 700;
}

nav {
    position: fixed;
    top: 0;
    width: 93.75%;
    height: 82%;
    margin: 4.0625% 3.125% 0 3.125%;
    background-color: #107373;
    border-radius: 1em;
    z-index: 9999;
    display: none;
    font-family: 'Voltaire', sans-serif;
}


.menu {
    text-decoration: none;
    position: relative;
    top: 0;
    font-weight: 500;
    font-size: 2.25em;
    letter-spacing: 0.06em;
    line-height: 2.100694em;
    text-align: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.menu a {
    text-decoration: none;
    color: #fff;
    z-index: 19999;
}

.menu li:nth-child(-n+5) {
    border-bottom: 0.125em solid #fff;
}

li:last-child {
    width: 30%;
    display: block;
    background-color: #fff;
    border-radius: 0.2em;
    margin: 0 auto;
}

.sezione {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sezione p {
    padding: 0 7.165109% 0 7.165109%;
}

.sezione a {
    text-decoration: none;    
}

.white_sz_bg {
    display: none;
}

.sz_logo_place {
    position: absolute;
    width: 100%;
    height: 80%;
    background: #fff;
    margin: 6.25% auto;
        max-width: 1200px;
}

.titles {
    display: none;
}

.logotype {
    display: none;
}

.rdl {
    background: url(../img/rdlab/rdlab-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;

}

.rdl_logo {
    position: relative;
    background: url(../img/rdlab/logotype-rdlab.png) center no-repeat;
    background-size: contain;
    width: 85.625%;
    height: 30%;
    margin: 0 7.1875% 0 7.1875%;
    vertical-align: middle;
}

.fff {
    background: url(../img/fff/fff-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

.fff_logo {
    position: relative;
    background: url(../img/fff/logotype-fff.jpg) center no-repeat;
    background-size: contain;
    width: 85.625%;
    height: 25%;
    margin: 4.5% 7.1875% 4% 7.1875%;
    vertical-align: middle;    
}

.cbm {
    background: url(../img/cbm/cbm-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

.cbm_logo {
    position: relative;
    background: url(../img/cbm/logotype-cbm.png) center no-repeat;
    background-size: contain;
    width: 85.625%;
    height: 30%;
    margin: 0 7.1875% 0 7.1875%;
    vertical-align: middle;
}

.pdr {
    background: url(../img/pdr/pdr-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

.pdr_logo {
    position: relative;
    background: url(../img/pdr/logotype-pdr.png) center no-repeat;
    background-size: contain;
    width: 85.625%;
    height: 30%;
    margin: 0 7.1875% 0 7.1875%;
    vertical-align: middle;
}

.go_to_website {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -o-transform: translate(-50%, -200%);
}

.go_to_website a {
    text-decoration: underline;
    color: #107373;
    font-size: 1.2em;
    font-weight: 500;
}

.info {
    position: relative;
    background: url(../img/main-bg.png) center no-repeat;
    background-size: cover;
}

.info p {
    padding-top: 50%;
}

.sz_info_logo {
    position: absolute;
    width: 85.625%;
    height: 22.535211%;
    margin: 6.25% 6.6875% 6.25% 6.6875%;
    background: url(../img/logo-oriz.png) center no-repeat;
    background-size: contain;
    /*width: 85.625%;
    height: 100%;*/
}

.hamburger {
    position: absolute;
    background: url(../img/icon_hamburger.png) no-repeat;
    background-size: contain;
    width: 11%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -180%);
    -webkit-transform: translate(-50%, -180%);
    -moz-transform: translate(-50%, -180%);
    -ms-transform: translate(-50%, -180%);
    -o-transform: translate(-50%, -180%);
    padding-bottom: 9.6875%;
}

/* .presentation .hamburger {
        top: 10%;
    } */

/*.info .hamburger {
    top: 15%;
}*/

/* 
   ===========================================================================
      The fucking preloader
   ===========================================================================
*/


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #B4DEE3;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #40B9BA;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #097372;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #fff;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }



@media (max-height: 528px) {

    body, html{
        font-size: 95%;
    }
    
    .welcome {
        height: 229.565218%;
    }
    
    .sezione {
        height: 114.782609%;
    }
    
    .sezione p {
        padding-top: 2%;
    }
    
    .info p {
        padding-top: 46.191375%;
    }
    
    nav {
        height: 75%;
    }
    
    .menu {
        font-size: 2.12em;
    }
    
    p {
        font-size: 1.125em;
    }
    
}

@media (max-height: 460px) {
    
    nav {
        height: 90%;
    }
    
    .menu {
        font-size: 2.02em;
    }
}

@media (max-height: 320px) {
    
    .menu {
        font-size: 1.35em;
    }
    
    .svg-logo {
        padding-top: 8.9375%;
    }
    
    .presentation p {
        padding-top: 5%;
    }
    
    .presentation .hamburger {
        margin-top: 8.938906%;
    }
    
    .hamburger {
        width: 5%;
        left: 47.5008275%;
        padding-bottom: 3.6875%;
    }
    
    .sz_logo_place {
        margin: 2.25% auto;
    }
    
    .rdl_logo {
        height: 27%;
        margin-top: 5%;
    }
    
    .fff_logo {
        height: 27%;
        margin-top: 5%;
        margin-bottom: 0;
    }
    
    .pdr_logo {
        height: 27%;
        margin-top: 1.3%;
    }
    
    .sezione p {
        font-size: 1em;
        padding-top: 4%;
    }
    
    .go_to_website {
        font-size: 85%;
        margin-top: 3%;
    }
    
    .info p {
        padding-top: 25%;
    }
    
    .info .hamburger {
        bottom: 10%;
    }
}

@media (min-height: 639px) {

    .presentation .hamburger {
        margin-top: 37%;
    }

}

@media (min-width: 479px) {

    .hamburger {
        left: 47.3%;
        width: 8%;
    }
    
    .sezione p {
        padding-top: 5%;
    }
    
    .rdl_logo {
        height: 18%;
        margin-top: 4%;
    }
    
    .fff_logo {
        height: 18%;
        margin-top: 4%;
    }
    
    .cbm_logo {
        height: 18%;
        margin-top: 4%;
    }
    
    .pdr_logo {
        height: 18%;
        margin-top: 4%;
    }
    
    .info p {
        padding-top: 27%;
    }
}

@media (min-width: 639px) {

    .menu {
     font-size: 1.96em;
     top: 47%;
     line-height: 0;
     margin: 0;
     padding: 0;
    }
    
    .svg-logo {
        padding-top: 13%;
    }
    
    .presentation .hamburger {
        top: 40%;
    }
    
    .hamburger {
        left: 47.5%;
        width: 5%;
        top: 91%;
    }
    
    .sezione p {
        padding-top: 10%;
    }
    
    .info p {
        padding-top: 37%;
    }
}

@media (max-width: 640px) and (max-height: 360px) {
    
    .menu {
        font-size: 1.5em;
    }

     .presentation .hamburger {
        top: 25%;
    }
    
    .sz_logo_place {
        height: 70%;
    }
    
    .sezione p {
        padding-top: 4%;
    }
    
    .go_to_website {
        margin-top: 4.002%;
    }
    
    .hamburger {
        top: 87%;
    }
    
    .fff_logo {
        margin-bottom: 0;
    }
    
    .info p {
        padding-top: 23%;
    }
    
}

@media (min-width: 767px) {
    
    p {
        font-size: 1.6em;
    }
    
    .welcome {
        height: 159.960938%;

    }
    
    .logo-wrapper {
        height: 62.515263%;
    }
    
    .presentation {
        height: 37.5%;
    }
    
    .presentation p {
        padding-top: 19%;
    }
    
    .svg-logo {
        position: absolute;
        top: 9%;
        width: auto;
        height: 40%;
        padding: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
    }
    
    .hamburger {
        display: none;
    }
    
    .nav-wrapper {
        position: fixed;
        /*top: 70%;*/
        width: 100%;
        height: 6.5%;
        background-color: #107373;
        float: left;
        z-index: 9999;
        display: none;
    }
    
    nav {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        left: 50%;
        display: block;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        margin: 0;
        border-radius: 0;
        text-align: right;
         z-index: 888888;
    }
    
    ul {
        display: inline;
    }
    
    li {
        display: inline;
    }
    
    .menu li:nth-child(-n+5) {
        border-bottom: 0;
    }
    
    .menu li:nth-child(n+2) a {
        margin-left: 4%;
    }
    
    .menu li:last-child {
        display: none;
    }
    
    .menu li span {
        display: none;
    }
    
    .menu li:first-child a{
        display: block;
        background: url(../img/logo-oriz-lw.png) left no-repeat;
        background-size: contain;
        width: 21%;
        height: 80%;
        float: left;
        margin: 0.6% 0 0 3%;
    }
    
    .menu li a {
        text-align: right;
    }
    
    .menu li:nth-child(6) {
        margin-right: 3%;
    }
    
    .sz_logo_place {
        margin: 0;
        top: 8%;
        height: 85%;
    }

    .logotype {
        display: block;
        margin: 3% auto;
        width: auto;
        height: 29%;
    }
    
    .fff_logo {
        background: url(../img/fff/logo-fff.jpg) center no-repeat;
        background-size: contain;
        height: 15%;
    }
    
    .sz_info_logo {
        position: absolute;
        right: 0;
        height: 60%;
        width: 18%;
        margin: 2% 8% 0 0;
    }
    
    .info { 
        height: 6.625%;
        
    }
    
    .info p {
        padding-top: 1%;
        padding-right: 35%;
        margin: 0;
        font-size: 0.9em;
        text-align: left;
    }
    
    .info_wrapper {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);        
    }
    
    
}

@media (min-width: 1023px)  {
    
    p {
        font-size: 1.35em;
    }

    .nav-wrapper {
        height: 7.5%;
    }
    
    .welcome {
        height: 145.572917%;
    }
    
    .logo-wrapper {
        height: 68.694097%;
        background-attachment: fixed;
    }
    
   /* .svg-logo {
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
        height: 47%;
    } */
    
    .presentation {
        height: 31.305903%;
    }
    
    .presentation p {
        padding: 0 3%;
        position: relative;
        margin: 0;
        top: 50%;
        left: 50%;
        max-width: 1200px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);        
    }
    
    .sezione {
        height: 145.572917%;
        background-attachment: fixed;
    }
    
    .titles {
        position: relative;
        width: 100%;
        height: 68.694097%;
        font-family: 'Voltaire', sans-serif;
        display: block;
    }
    
    .titles-c-wrapper {
        position: relative;
        top: 50%;
        left: 100%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        height: auto;
        width: 70%;
    }
    
    .up-title, .low-title {
        line-height: 90%;
    }
    
    .rdl .up-title {
       font-size: 18.5em;
       padding: 0;
    }
    
    .rdl .low-title {
       font-size: 10em;
       line-height: 90%;
        padding: 0 0;
    }
    
    .fff .up-title {
       font-size: 12.5em;
       padding: 0 0;
    }
    
    .fff .low-title {
       font-size: 12.5em;
       padding: 0 0;
    }
    
    .cbm .up-title {
       font-size: 12.5em;
       padding: 0 0;
    }
    
    .cbm .low-title {
       font-size: 12.5em;
       padding: 0 0 0 4.5%;
    }
    
    .pdr .up-title {
       font-size: 12.5em;
       padding: 0;
    }
    
    .pdr .low-title {
       font-size: 12.3em;
       padding: 0 0;
    }
    
    .white_sz_bg {
        display: block;
        position: relative;
        height: 31.305903%;
        background-color: #fff;
        z-index: 111;
        width: 100%;
    }
    
    .sz_logo_place {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 18%);
        -webkit-transform: translate(-50%, 18%);
        -moz-transform: translate(-50%, 18%);
        -ms-transform: translate(-50%, 18%);
        -o-transform: translate(-50%, 18%);
        height: 31.305903%;
        float: left;
        z-index: 999;
        
    }
    
    .logotype {
        position: relative;
        margin: 3% 0 3% 0;
        width: 16%;
        height: auto;
        left: 25%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
        float: left;
    }
    
    .pr_logo {
        margin: 5% 0 3% 0;
        width: 50%;
        float: right;
    }
    
    .sezione p {
        width: 41%;
        float: right;
        padding: 1% 5% 0 0;
        font-size: 1.15em;
    }
    
    .go_to_website {
        position: relative;
        left: 25%;
        top: 12%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
        clear: left;
        float: left;
        margin: 0;
    }
    
    .info {
        height: 14%;
    }
    
    .info p {
        width: 32%;
        float: left;
        padding: 0 0 0 8%;
        margin: 0;
        top: 50%;
        position: relative;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);    
        font-size: 0.9em;
    }
    
    /* Probably move to 768px media query */
    
    .sz_info_logo {
        margin-top: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);         
    }
    
}

@media (min-width: 1365px)  { 
    
    .logotype {
        margin: 1.5% auto 0 auto;
    }
    
    .pr_logo {
        margin: 2% 0 0 0;
    }

}